<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <appSettings>
    <!-- Integration Test Azure Emulator Tools -->
    <!-- Substitutions in these paths are performed by CloudServiceIntegrationTestBase.cs -->
    <add key="CloudServiceIntegrationTestBase.AzureStorageTool"
         value="%SYSTEMDRIVE%\Program Files (x86)\Microsoft SDKs\Azure\Storage Emulator\AzureStorageEmulator.exe" />
    <add key="CloudServiceIntegrationTestBase.AzureStorageStartArguments" value="start" />
    <add key="CloudServiceIntegrationTestBase.AzureStorageStopArguments" value="stop" />
    <add key="CloudServiceIntegrationTestBase.AzureStorageResetArguments" value="clear all" />
    <add key="CloudServiceIntegrationTestBase.AzureDeployTool"
         value="%SYSTEMDRIVE%\Program Files\Microsoft SDKs\Azure\Emulator\csrun.exe" />
    <add key="CloudServiceIntegrationTestBase.AzureComputeStartupArguments"
         value="&quot;%TestOutDir%\..\..\..\TestContent\Cloud\bin\csx&quot; &quot;%TestOutDir%\..\..\..\TestContent\Cloud\bin\ServiceConfiguration.cscfg&quot; /useiisexpress" />
    <add key="CloudServiceIntegrationTestBase.AzureComputeShutdownArguments" value="/devfabric:shutdown" />
    <add key="FabricIntegrationTestBase.ClusterManagementTool" value="%SYSTEMDRIVE%\Program Files\Microsoft SDKs\Service Fabric\Tools\ServiceFabricLocalClusterManager\ServiceFabricLocalClusterManager.exe" />
    <add key="FabricIntegrationTestBase.ImageStoreConnectionString" value="file:C:\SfDevCluster\Data\ImageStoreShare" />
    <add key="FabricIntegrationTestBase.EventRelayServicePackagePath" value="%TestOutDir%\..\..\..\TestContent\Fabric\bin" />
    <add key="FabricIntegrationTestBase.EventRelayServiceApplicationTypeName" value="ServiceStack_Webhooks_Azure_Type" />
    <add key="SubscriptionServiceClient.SubscriptionService.BaseUrl" value="http://localhost:5567/" />
    <add key="AzureTableSubscriptionStore.ConnectionString" value="UseDevelopmentStorage=true" />
    <add key="AzureTableSubscriptionStore.SubscriptionsTable.Name" value="webhooksubscriptions" />
    <add key="AzureTableSubscriptionStore.DeliveryResultsTable.Name" value="webhookdeliveryresults" />
    <add key="AzureQueueEventSink.ConnectionString" value="UseDevelopmentStorage=true" />
    <add key="AzureQueueEventSink.Queue.Name" value="webhookevents" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>